body {
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.florero {
  display: flex;
}

.rosa {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.petalo {
  position: absolute;
  width: 60px;
  height: 60px;
  background: pink;
  border-radius: 50%;
  transform: scale(0.2); /* empieza cerrada */
  transition: transform 2s ease;
}

.petalo:nth-child(1) { top: 0; left: 30px; }
.petalo:nth-child(2) { top: 30px; left: 0; }
.petalo:nth-child(3) { top: 30px; right: 0; }
.petalo:nth-child(4) { bottom: 0; left: 30px; }

.centro {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
}
